.settings-wrapper {
  height: 450px;
  width: 450px;

  padding: 2%;

  margin: 0 auto;
  text-align: center;
  // transform: translateY(50%);
}

.settings-list {
  padding: 3%;
  list-style: none;
  height: 100%;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
}

.settings-item {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}
